.index {
  background-image: url('tutorial_background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
  text-align: center;
  color: #000f55;
  font-family: 'Caveat', cursive;

}


.index h2 {
  font-size: 56px;
  text-decoration: underline;
}

.index ol {
  font-size: 42px;

  text-align: left;
}

.index .important {
  display: inline;
  font-weight: initial;
  text-decoration: underline;
}

.index .rules-container {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 30px 30px;
}

.index input[type=submit] {
  align-self: center;
  background: transparent;
  padding: 20px 20px;
  margin: 0 20px;
  transition: all .5s ease;
  font-size: 36px;
  letter-spacing: 1px;
  outline: none;

  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,0.2);
  border: solid 7px #000f55;
}

.index input[type=submit]:hover{
  text-decoration: underline;
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,0.3);
}


/* Play Styles*/


.play {
  background-image: url('game-background.jpg');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 100px;
  margin: 0;
  background-color: #ebf3f3;
}


.play .Red{ background: #ea4c89;}

.play .Green{ background: #006400;}

.play .Blue{ background: #0057ff;
  color: white;}

.play .Yellow{ background: #FBC02D;}

.play .Black{ 
  background: black;
  color: white;
}

.White{ background: white;}

.play .colorblock{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 2px 6px;
  vertical-align: middle;
  border-radius: 24px;
}

.play .past-turns h2 {
  display: inline-block;
  margin: 0 0;
  width: 95px;
}

.play .matches {
  display: inline;
  padding-left: 72px;
}

.game-container {
    margin: 0 auto;
    width: 720px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.game-container h1 {
    text-align: center;
}

.matches p {
    display: inline;
    line-height: 13px;
}


.matches p strong {
    text-decoration: underline;
    color: tomato;
}


.turn {
    padding: 13px;
}

.play p {
    text-align: center;
}

#codepicker {
    text-align: center;
}

.btn {
    text-align:  center;
    display: block;
    margin-top: 36px;
    padding: 12px;
    background-color: white;
}

.btn:hover {
    background-color: whitesmoke;
}