.index {
  background-image: url('tutorial_background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
  text-align: center;
  color: #000f55;
  font-family: 'Caveat', cursive;

}


.index h2 {
  font-size: 56px;
  text-decoration: underline;
}

.index ol {
  font-size: 42px;

  text-align: left;
}

.index .important {
  display: inline;
  font-weight: initial;
  text-decoration: underline;
}

.index .rules-container {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 30px 30px;
}

.index input[type=submit] {
  align-self: center;
  background: transparent;
  padding: 20px 20px;
  margin: 0 20px;
  transition: all .5s ease;
  font-size: 36px;
  letter-spacing: 1px;
  outline: none;

  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,0.2);
  border: solid 7px #000f55;
}

.index input[type=submit]:hover{
  text-decoration: underline;
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,0.3);
}


/* Play Styles*/


.play {
  background-image: url('game-background.jpg');
}

.game-container {
  
}


#Red{ background: red;}

#Green{ background: green;}

#Blue{ background: blue;
  color: white;}

#Yellow{ background: yellow;}

#Black{ 
  background: black;
  color: white;
}

#White{ background: white;}