<! DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
  </head>
  <body>
    <form>
      <input type = 'text' name ='code' />
      <input type = 'number' name = 'shift' />
      <input type ='submit' value ='Encrypt' /> 
    </form>

    <%= encrypted %>
  </body>
</html