<!DOCTYPE html>
<html>
  <head>
    <title> Fintara</title>
    <link rel ='stylesheet' href = 'bootstrap.min.css'/>
  </head>
  <body class = 'container'>
    <nav class = 'navbar navbar-default'>
      <div class = 'container-fluid'>
        <div class ='navber-header'>
          <a class ='navbar-brand' href='/'> Fintara</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>